#NavBar {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: clamp(85px, 9vh, 85px);
  background-color: #0f0f0fab;
  z-index: 1;
  font-family: var(--Headline2);
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

#box1 {
  width: clamp(460px, 24vw, 460px);
  height: 100%;
  color: #e7e7e7;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 15px;
  font-family: var(--Headline);
}
#box1 h2 {
  font-size: clamp(15px, 1.2vw, 30px);
  letter-spacing: 1px;
}
#box2 {
  width: clamp(364px, 19vw, 364px);
  height: 100%;
  margin-right: 2rem;
}
#box2 h1 {
  color: #66e4e3;
  font-size: clamp(15px, 1.7vw, 40px);
  letter-spacing: 1px;
}
#box3 {
  width: clamp(384px, 20vw, 384px);
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#search {
  background-image: url(/src/assets/search.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 29px;
  height: 29px;
}
#bell {
  background-image: url(/src/assets/bell.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 29px;
  height: 29px;
}
#box3 h2 {
  color: #e7e7e7;
  font-size: 1.5rem;
  letter-spacing: 2px;
}
